:root, .terminal {
  --theme: #3b82f6 !important;
  --primary: #3b82f6 !important;
}

.logo__text {
  background-color: #3b82f6 !important;
  color: #111 !important;
}

a {
  color: #3b82f6 !important;
}